1. Load Dataset, then see the header

In [1]:
import pandas as pd
data = pd.read_csv('movie_metadata.csv')
data.head(10)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0$,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0$,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0$,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0$,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,0.0$,NaN,12.0,7.1,NaN,0
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0$,2012.0,632.0,6.6,2.35,24000
6,Color,Sam Raimi,392.0,156.0,0.0,4000.0,James Franco,24000.0,336530303.0,Action|Adventure|Romance,...,1902.0,English,USA,PG-13,258000000.0$,2007.0,11000.0,6.2,2.35,0
7,Color,Nathan Greno,324.0,100.0,15.0,284.0,Donna Murphy,799.0,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,...,387.0,English,USA,PG,260000000.0$,2010.0,553.0,7.8,1.85,29000
8,Color,Joss Whedon,635.0,141.0,0.0,19000.0,Robert Downey Jr.,26000.0,458991599.0,Action|Adventure|Sci-Fi,...,1117.0,English,USA,PG-13,250000000.0$,2015.0,21000.0,7.5,2.35,118000
9,Color,David Yates,375.0,153.0,282.0,10000.0,Daniel Radcliffe,25000.0,301956980.0,Adventure|Family|Fantasy|Mystery,...,973.0,English,UK,PG,250000000.0$,2009.0,11000.0,7.5,2.35,10000

2. The duration column contains data on the film length. How many missing values are there
in this column?

In [2]:
data['duration'].isna().sum()

15

3. Replace the missing values in the duration column with the median value for this column.

In [3]:
temp = data['duration'].dropna()

In [4]:
import numpy as np
median = np.median(temp)
print(median)

103.0

In [5]:
data['duration'] = data['duration'].fillna(median)

In [6]:
data['duration'].isna().sum()

0

4. What is the average film length? Give the answer as a floating-point figure rounded to
two decimal places.

In [7]:
avg = np.mean(data['duration'])
print("{avg:.2f}".format(avg = avg))

107.19

5. Create a movie_duration_category column, which will contain three categories
depending on the film length:
- Category "1. <90" if the film is less than 90 minutes long
- Category "2. 90–120" if the film is between 90 minutes and two hours long (inclusively)
- Category "3. >120" if the film is more than two hours long

In [8]:
data.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0$,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0$,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0$,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0$,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,103.0,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,0.0$,NaN,12.0,7.1,NaN,0

In [9]:
category = []
for a in data['duration']:
    if (a<90) : category.append("<90")
    elif (a>=90 and a<=120): category.append("90-120")
    else : category.append(">120")
    
data['movie_duration_category'] = category

In [10]:
data

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,movie_duration_category
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,English,USA,PG-13,237000000.0$,2009.0,936.0,7.9,1.78,33000,>120
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,English,USA,PG-13,300000000.0$,2007.0,5000.0,7.1,2.35,0,>120
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,English,UK,PG-13,245000000.0$,2015.0,393.0,6.8,2.35,85000,>120
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,English,USA,PG-13,250000000.0$,2012.0,23000.0,8.5,2.35,164000,>120
4,NaN,Doug Walker,NaN,103.0,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,0.0$,NaN,12.0,7.1,NaN,0,90-120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,English,Canada,NaN,0.0$,2013.0,470.0,7.7,NaN,84,<90
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,English,USA,TV-14,0.0$,NaN,593.0,7.5,16.00,32000,<90
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,English,USA,NaN,1400.0$,2013.0,0.0,6.3,NaN,16,<90
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,English,USA,PG-13,0.0$,2012.0,719.0,6.3,2.35,660,90-120
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,English,USA,PG,1100.0$,2004.0,23.0,6.6,1.85,456,90-120

6. Build a summary table for films released after 2000 (inclusively), to list the numbers of
films:
- Table rows: year
- Table columns: movie duration category ("<90", "90–120", ">120")
- The year of release should be displayed in the YYYY format.

In [54]:
test = data[data.title_year>=2000]['title_year'].unique().astype(int)
test = np.sort(test)
data[(data.title_year>=2000) & (data.movie_duration_category == '>120')]['title_year'].count()

670

In [53]:
#sum_table = pd.pivot_table(data, columns = data['movie_duration_category'].unique(), 
#        index=np.sort(data[data.title_year>=2000]['title_year'].unique().astype(int)))
# temp = []
# for a in data['title_year']:
#     if pd.notna(a) == True: 
#         temp.append(int(a))
#     else : 
#         temp.append('-')

sum_table = pd.pivot_table(data=test, columns = 'movie_duration_category', 
        index='title_year', aggfunc='sum')


# sum_table['movie_duration_category'] = data['movie_duration_category']
# sum_table['title_year'] = temp

AttributeError: 'numpy.ndarray' object has no attribute 'columns'

In [52]:
sum_table

                        actor_1_facebook_likes                      \
movie_duration_category                 90-120       <90      >120
title_year
1916.0                                     NaN       NaN     436.0
1920.0                                     2.0       NaN       NaN
1925.0                                     NaN       NaN      81.0
1927.0                                     NaN       NaN     136.0
1929.0                                   503.0       NaN       NaN
...                                        ...       ...       ...
2012.0                               1174444.0   89813.0  443178.0
2013.0                                924763.0  414026.0  728072.0
2014.0                               1033168.0  114899.0  423363.0
2015.0                                857722.0   79541.0  628718.0
2016.0                                877704.0   56332.0  173567.0

                        actor_2_facebook_likes                     \
movie_duration_category                 90-120      <90      >120
title_year
1916.0                                     NaN      NaN      22.0
1920.0                                     2.0      NaN       NaN
1925.0                                     NaN      NaN      12.0
1927.0                                     NaN      NaN      23.0
1929.0                                    48.0      NaN       NaN
...                                        ...      ...       ...
2012.0                                303205.0  18831.0  211038.0
2013.0                                283015.0  67649.0  219183.0
2014.0                                201673.0  31652.0  185437.0
2015.0                                191703.0  22153.0  255155.0
2016.0                                195584.0   9353.0   54855.0

                        actor_3_facebook_likes                     \
movie_duration_category                 90-120      <90      >120
title_year
1916.0                                     NaN      NaN       9.0
1920.0                                     0.0      NaN       NaN
1925.0                                     NaN      NaN       6.0
1927.0                                     NaN      NaN      18.0
1929.0                                     7.0      NaN       NaN
...                                        ...      ...       ...
2012.0                                144178.0  11068.0  119337.0
2013.0                                103504.0  13456.0   84090.0
2014.0                                 79868.0  11120.0   95253.0
2015.0                                 96842.0   8805.0   97043.0
2016.0                                 49708.0   2732.0   20487.0

                        aspect_ratio  ... movie_facebook_likes  \
movie_duration_category       90-120  ...                 >120
title_year                            ...
1916.0                           NaN  ...                691.0
1920.0                          1.33  ...                  NaN
1925.0                           NaN  ...                226.0
1927.0                           NaN  ...              12000.0
1929.0                          2.70  ...                  NaN
...                              ...  ...                  ...
2012.0                        307.67  ...            2525799.0
2013.0                        304.28  ...            2917874.0
2014.0                        313.43  ...            2223567.0
2015.0                        262.79  ...            2232794.0
2016.0                        137.93  ...             696000.0

                        num_critic_for_reviews                   \
movie_duration_category                 90-120     <90     >120
title_year
1916.0                                     NaN     NaN     69.0
1920.0                                     1.0     NaN      NaN
1925.0                                     NaN     NaN     48.0
1927.0                                     NaN     NaN    260.0
1929.0                                   107.0     NaN      NaN
...                                        ...     ...      ...
2012.0                                 28656.0  4886.0  17958.0
2013.0                                 30332.0  2855.0  19133.0
2014.0                                 25940.0  2207.0  14605.0
2015.0                                 20180.0  1601.0  14371.0
2016.0                                 11126.0   617.0   4146.0

                        num_user_for_reviews                  num_voted_users  \
movie_duration_category               90-120     <90     >120          90-120
title_year
1916.0                                   NaN     NaN     88.0             NaN
1920.0                                   1.0     NaN      NaN             5.0
1925.0                                   NaN     NaN     45.0             NaN
1927.0                                   NaN     NaN    413.0             NaN
1929.0                                 155.0     NaN      NaN         11977.0
...                                      ...     ...      ...             ...
2012.0                               24492.0  3613.0  29834.0      10946424.0
2013.0                               28085.0  2043.0  26660.0      11426056.0
2014.0                               26844.0  2339.0  22563.0      10414413.0
2015.0                               19867.0  1143.0  18424.0       6115343.0
2016.0                               10919.0   414.0   8383.0       2206406.0


movie_duration_category        <90        >120
title_year
1916.0                         NaN     10718.0
1920.0                         NaN         NaN
1925.0                         NaN      4849.0
1927.0                         NaN    111841.0
1929.0                         NaN         NaN
...                            ...         ...
2012.0                   1198303.0  12412232.0
2013.0                    538432.0  11507547.0
2014.0                    607144.0   8510822.0
2015.0                    232852.0   6281511.0
2016.0                     55151.0   1373470.0

[91 rows x 42 columns]